<style type="text/css">
      table {
          margin: 1em;
      }
      tr td {
          /*margin: .5em;*/
          padding: .5em;
          /*border-top: 1px solid black;*/
      }

    .odd {
        background-color: #efefef;
    }
</style>

<table>
    <thead>
    <tr>
        <th>Scientific Name</th>
        <th title="If no data was found using the initial scientific name, sometimes using a slightly altered scientific name
(i.e. suffix of 'la' changed to 'lus') will return information. This only shows here if that alternate name successfully returned
results from one of the other sites.">Alternate Name Used?</th>
        <th>Sciencebase URL</th>
        <th>TSN</th>
        <th>ECOS Code</th>
    </tr>
    </thead>
    <tbody>
    <g:each in="${speciesList}" var="it" status="i">
        <tr class="${i % 2 ? "even" : "odd"}">
            <td>${it.scientificName}</td>
            <td>${it.alternateName}</td>
            <td><a target="_blank" href="${it.sb}">${it.sb}</a></td>
            <td>${it.tsn}</td>
            <td>${it.ecos}</td>
        </tr>
    </g:each>
    </tbody>
</table>