<div class="modal fade" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalLabel">
    <div class="leftPaneHelpBox helpBox"><div>1</div></div>
    <div class="mapHelpBox helpBox"><div>2</div></div>
    <div class="rightPaneHelpBox helpBox"><div>3</div></div>
    <div class="modal-dialog">
        <div id="disclaimerContent" class="modal-content" style="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="disclaimerModalLabel">How to use this tool</h4>
            </div>
            <div class="modal-body">
                <div id="userHelp">
                    <div>
                        <span class="arrow left_arrow">&nbsp;</span>
                        <span class="user_help_number">1</span> ‘Regional Summary’ designates the type of spatial boundary to be used in your analysis.
                        The other expandable sections represent the data themes you can display on the map.
                        Expand a data theme to view individual datasets under that theme.
                    </div>
                    <div>
                        <span class="user_help_number">2</span> Select a location on the map to retrieve a summary for the region. The region's spatial boundary will be shown.
                    </div>
                    <div>
                        <span class="user_help_number">3</span> The summary for your selected region is generated. It is available for review and export in the analysis pane.
                        <span class="arrow right_arrow">&nbsp;</span>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="attrModal" tabindex="-1" role="dialog" aria-labelledby="attrModalLabel">
    <div class="modal-dialog">
        <div id="attrContent" class="modal-content" style="overflow-y: auto;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="attrModalLabel">Attributions</h4>
            </div>
            <div class="modal-body">
                <div class="attrDiv">
                    <strong>Mapping API: </strong><a href="http://leafletjs.com" title="A JS library for interactive maps" target="_blank">Leaflet</a>.
                </div>
                <div class="attrDiv">
                    <strong>Black & white tiles: </strong><a href="http://stamen.com" target="_blank">Stamen Design</a>, under
                    <a href="http://creativecommons.org/licenses/by/3.0" target="_blank">CC BY 3.0</a>. Data by
                    <a href="http://openstreetmap.org" target="_blank">OpenStreetMap</a>, under
                    <a href="http://www.openstreetmap.org/copyright" target="_blank">ODbL</a>.
                </div>
                <div class="attrDiv">
                    <strong>Satellite tiles: </strong><a href="https://www.mapbox.com/about/maps/" target="_blank">Mapbox</a>. Data by
                    <a href="http://openstreetmap.org" target="_blank">OpenStreetMap</a>, under
                    <a href="http://www.openstreetmap.org/copyright" target="_blank">ODbL</a>.
                </div>
                <div class="attrDiv">
                    <strong>Biogeography interface </strong>heavily influenced by: UW-Macrostrat project
                    <a href="https://github.com/UW-Macrostrat/gmna-app" target="_blank">on Github</a>.
                </div>
                <div class="attrDiv">
                    <strong>NatureServe Species Data: </strong>Natureserve. 2008. NatureServe Web Service. Arlington, VA. U.S.A. Available
                    <a href="http://services.natureserve.org" target="_blank">http://services.natureserve.org</a>.
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->