<script id="bioScapeLayerLegendTemplate" type="text/x-jsrender">
    <div style="padding: 5px 0;">
        <div class="legendTitle">{{:title}}</div>
        <div style="margin-left: .5em;">
            {{for legendItems}}
                <div>
                <img class="legendImg" src="{{:imageUrl}}" alt="legend-key"/>
                <span class="legendLabel">{{:label}}</span>
                <br>
                </div>
            {{/for}}
        </div>
    </div>
</script>

<script id="bioScapeDetailsTemplate" type="text/x-jsrender">
    <div>
        {{include summaryData tmpl="#summaryTemplate"/}}
    </div>
</script>

<script id="bioScapeGroupTemplate" type="text/x-jsrender">
    <div class="contextHeader layerExpander" data-section="{{:divId}}">
        <span id="{{:divId}}Control">&#9658;</span>
        {{:title}}
    </div>
    <div id="{{:divId}}" class="layerSection">
        {{for layers tmpl="#bioScapeLayerTemplate" /}}
    </div>
</script>

<script id="bioScapeBaseMapTemplate" type="text/x-jsrender">
    {{for layers}}
        <div class="contextHeader">
            <button type="button" id="{{:id}}" class="baseMapSelect btn btn-default {{:active}}" href="#" style="font-size:18px;">
                {{if thumbnailImage}}
                    <img src="{{:thumbnailImage}}" alt="{{:id}}-preview" height="35">
                {{/if}}
                {{:title}}
            </button>
        </div>
    {{/for}}
</script>

<script id="bioScapeLayerTemplate" type="text/x-jsrender">
    <div class="layer" id="{{:divId}}">
        <div class="layerTitle">
            <span>{{:title}}</span>
            <span style="white-space:nowrap">
                <i class="fa fa-circle fa-first" aria-hidden="true"></i>
                <i class="fa fa-info-circle fa-second layerMoreInfo" aria-hidden="true" data-layer="{{:divId}}"></i>
            </span>
        </div>
        {{if !disableControl}}
            <i class="fa {{:toggle}} layer-control"
            {{if zoomLimits}}
                title=""
            {{/if}}
            ></i>
        {{/if}}
        {{if opacitySettings}}
            <div class="sliderContainer" style="text-align:right;display:{{:opacitySettings.displayCss}};">
                <label for="{{:divId}}Slider">Opacity:</label>
                <input id="{{:divId}}Slider" class="opacitySlider" type="range" min="0" max="1" value="{{:opacitySettings.opacity}}" step=".05" style="width:50%;display:inline;vertical-align:middle;"/>
            </div>
        {{/if}}
        {{if timeControl}}
            <div class="sliderContainer" id="{{:divId}}TimeControl" style="text-align: right; display: none;"></div>
        {{/if}}
    </div>
</script>

<script id="bioScapeInfoDiv" type="text/x-jsrender">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="generalModalLabel">{{:title}}</h4>
    </div>
    <div class="modal-body" style="font-size:16px;">
        {{if body}}
            {{:body}}
            {{if citation}}
                <div style="margin-top:10px;font-size:14px;"><strong>Citation: </strong>{{:citation}}</div>
            {{/if}}
        {{else}}
            This item is not currently documented in ScienceBase. You may contact the Biogeographic Characterization Branch
            to request this information: <a href="mailto:bcb@usgs.gov" target="_blank">bcb@usgs.gov</a>
        {{/if}}
    </div>
    <div class="modal-footer" style="text-align:left;">
        {{if url}}
            <strong>ScienceBase Url: </strong>
            <a target="_blank" href="{{:url}}">{{:url}}</a>
        {{/if}}
    </div>
</script>

<script id="emptyTemplate" type="text/x-jsrender"></script>

<script id="bioScapeEsriMetadataTemplate" type="text/x-jsrender">
    {{if layerInfo}}
        <div class="contextHeader layerExpander grayHover" onclick="toggleContainer('bioScapeSbInfo')">
            <span id="bioScapeSbInfoControl">&#9660;</span>
            <span>Layer Level Metadata:</span>
        </div>
        <div id="bioScapeSbInfo" class="dropDownContainer">
            {{for layerInfo}}
                <span class="metadataTitle">Layer Name</span>
                <div class="dialogData">{{:name}}</div>
                <span class="metadataTitle">Description</span>
                <div class="dialogData">{{:description}}</div>
            {{/for}}
        </div>
    {{/if}}
    <div class="contextHeader layerExpander grayHover" onclick="toggleContainer('bioScapeServiceInfo')">
        <span id="bioScapeServiceInfoControl">&#9660;</span>
        <span>Service Level Metadata:</span>
    </div>
    <div id="bioScapeServiceInfo" class="dropDownContainer">
        <span class="metadataTitle">Service Description</span>
        <div class="dialogData">{{:serviceDescription}}</div>
        <span class="metadataTitle">Map Name</span>
        <div class="dialogData">{{:mapName}}</div>
        <span class="metadataTitle">Description</span>
        <div class="dialogData">{{:description}}</div>
        <span class="metadataTitle">Copyright Text</span>
        <div class="dialogData">{{:copyrightText}}</div>
        <span class="metadataTitle">Document Info</span>
        <div class="dialogData well">
            <span class="metadataTitle">Title</span>
            <div class="dialogData">{{:documentInfo.Title}}</div>
            <span class="metadataTitle">Author</span>
            <div class="dialogData">{{:documentInfo.Author}}</div>
            <span class="metadataTitle">Comments</span>
            <div class="dialogData">{{:documentInfo.Comments}}</div>
            <span class="metadataTitle">Subject</span>
            <div class="dialogData">{{:documentInfo.Subject}}</div>
        </div>
    </div>
</script>

<script id="bioScapeWMSMetadataTemplate" type="text/x-jsrender">
    <div class="contextHeader layerExpander grayHover" onclick="toggleContainer('bioScapeSbInfo')">
        <span id="bioScapeSbInfoControl">&#9660;</span>
        <span>Layer Level Metadata:</span>
    </div>
    <div id="bioScapeSbInfo" class="dropDownContainer">
    {{if layerInfo}}
        {{for layerInfo}}
            <span class="metadataTitle">Layer Name</span>
            <div class="dialogData">{{:name}}</div>
            <span class="metadataTitle">Layer Title</span>
            <div class="dialogData">{{:title}}</div>
            <span class="metadataTitle">Abstract</span>
            <div class="dialogData">{{:abstract}}</div>
        {{/for}}
     {{/if}}
    </div>
    <div class="contextHeader layerExpander grayHover" onclick="toggleContainer('bioScapeServiceInfo')">
        <span id="bioScapeServiceInfoControl">&#9660;</span>
        <span>Service Level Metadata:</span>
    </div>
    <div id="bioScapeServiceInfo" class="dropDownContainer">
        <div id="bioScapeServiceInfo">
            <span class="metadataTitle">Title</span>
            <div class="dialogData">{{:serviceTitle}}</div>
            <span class="metadataTitle">Abstract</span>
            <div class="dialogData">{{:abstract}}</div>
        </div>
    </div>
</script>

<script id="timeSliderTemplate" type="text/x-jsrender">
    %{--<label id="{{:layerId}}TimeSliderLabel" {{if disableSlider}}class="disabled"{{/if}} for="{{:layerId}}TimeSlider">Time Control:</label>&nbsp;--}%
    <div style="width:100%;text-align:center;line-height:initial;" id="{{:layerId}}YearVal">
        Current {{:stepLabel}}: {{:defaultDate}}
    </div>
    <input id="{{:layerId}}TimeSlider" class="opacitySlider" type="range" {{if disableSlider}}disabled{{/if}} min="{{:start}}"
        max="{{:end}}" step="1" style="width:100%;display:inline;vertical-align:middle;" value="{{:default}}" />

    %{--<div style="width:100%; text-align:center;" id="{{:layerId}}YearVal">--}%
        %{--{{:stepLabel}} range from {{:startDate}} to {{:endDate}}--}%
    %{--</div>--}%
    {{if !disableSlider}}
        <div style="width:100%">
            <div class="sliderLabelLeft">{{:startDate}}</div>
            <div class="sliderLabelCenter">{{:stepLabel}} Range</div>
            <div class="sliderLabelRight">{{:endDate}}</div>
        </div>
        <div style="clear:both;"></div>
    {{/if}}
    %{--<label for="{{:layerId}}TimeSelector">Layer:</label>&nbsp;--}%
    %{--<select style="color: black;" id="{{:layerId}}TimeSelector">--}%
        %{--{{for layers}}--}%
            %{--<option style="color: white;" {{if selected}}selected{{/if}} val="{{:name}}">{{:name}}</option>--}%
        %{--{{/for}}--}%
    %{--</select>--}%
</script>

<script id="onMapClickToggleButton" type="text/x-jsrender">
    <a id="toggleClick" class="unit_info overMap mapControl grayLink" tabindex="0" role="button" data-toggle="tooltip" data-placement="bottom"
        title="Click here to switch functionality when map is clicked.">
        On map click: <span id="toggleClickType">{{:handler}}</span>
    </a>
</script>

<script id="downloadButton" type="text/x-jsrender">
    <a id="downloadFile" class="unit_info overMap mapControl grayLink" tabindex="0" role="button" data-toggle="popover" data-placement="bottom">
        <i class="fa fa-download" aria-hidden="true" style="font-size:18px;vertical-align:middle;"></i>&nbsp;Download
    </a>
</script>

<div id="modalContainer">
    <div class="modal fade" id="generalModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-mdm">
            <div id="generalModalContent" class="modal-content">
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<script id="infoDivTemplate" type="text/x-jsrender">
    <div class="modal fade" id="{{:id}}" tabindex="-1" role="dialog" aria-labelledby="{{:id}}Label">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="{{:id}}Label">{{:title}}</h4>
                </div>
                <div class="modal-body">
                    {{:description}}
                </div>
                <div class="modal-footer" style="text-align:left;">
                    ScienceBase Item: <a target="_blank" href="{{:bapReference}}">{{:bapReference}}</a>
                    <div>Last updated: {{:lastUpdated}}</div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</script>

<script id="identifyResultsTemplate" type="text/x-jsrender">
    {{if results.length > 0}}
        {{for results}}
            <div class="identifyResult layerExpander contextHeader" data-section="identifyResult{{:#index}}">
                <span id="identifyResult{{:#index}}Control">
                    {{if #index === 0}}
                        &#9660;
                    {{else}}
                        &#9658;
                    {{/if}}
                </span>
                {{:layerName}}{{if name}}: {{:name}}{{/if}}
            </div>
            <div id="identifyResult{{:#index}}" class="layerSection dropDownContainer" {{if #index === 0}}style="display:block;"{{/if}}>
                <div style="table">
                    <table style="width:100%;font-size:13px;">
                        <tbody>
                            {{include geojson.properties tmpl="#getObjectPropertiesTemplate"/}}
                        </tbody>
                    </table>
                </div>
            </div>
        {{/for}}
    {{else}}
        No results were found for these coordinates. Make sure at least one layer is turned on.
    {{/if}}
</script>

<script id="getObjectPropertiesTemplate" type="text/x-jsrender">
    {{props #data}}
        <tr class="tableRow">
            <td>{{>key}} </td>
            <td>{{:prop}}</td>
        </tr>
    {{else}}
    {{/props}}
</script>

<script id="betaBannerTemplate" type="text/x-jsrender">
    <span id="beta-banner" data-toggle="modal" data-target="#disclaimerModal">beta</span>
</script>

<script id="downloadPopoverTemplate" type="text/x-jsrender">
    {{if layers.length === 0}}
        Please select a layer for the map.
    {{else zoomedOut}}
        Download not available at this zoom level. Try zooming in closer.
    {{else}}
        {{for layers}}

            {{if !mapLayer.downloader}}
                <button type="button" id="{{:id}}" class="layerDownload btn btn-default disabled" data-toggle="tooltip" title="Download is unavailable for this layer.">
            {{else}}
                <button type="button" id="{{:id}}" class="layerDownload btn btn-default">
            {{/if}}
                {{: section.title}}: {{:title}}</button>
        {{/for}}
    {{/if}}
</script>

<script id="userHelpTemplate" type="text/x-jsrender">
    {{if isBetaEnvironment }}
        <div style="margin-top:10px;font-weight:bold;font-size:18px;text-align:center;">How to use this analysis tool:</div>
    {{/if}}
    <div>
        <span class="arrow left_arrow">&nbsp;</span>
        <span class="user_help_number">1</span> ‘Regional Summary’ designates the type of spatial boundary to be used in your analysis.
        The other expandable sections represent the data themes you can display on the map.
        Expand a data theme to view individual datasets under that theme.
    </div>
    <div>
        <span class="user_help_number">2</span> Select a location on the map to retrieve a summary for the region. The region's spatial boundary will be shown.
    </div>
    <div>
        <span class="user_help_number">3</span> The summary for your selected region is generated. It is available for review and export in the analysis pane.
        <span class="arrow right_arrow">&nbsp;</span>
    </div>
</script>

<script id="summaryTemplate" type="text/x-jsrender">
    {{if shortSummary}}
        <div class="{{:toggleId}}ShortVersion inline">
            <span style="line-height: 18px;">{{:shortSummary}}</span>
            <br>
            <div onclick="$('.{{:toggleId}}ShortVersion').hide();$('.{{:toggleId}}LongVersion').show();" class="descriptionToggle">more...</div>
        </div>
    {{/if}}
    <div class="{{:toggleId}}LongVersion inline" style="display:{{:longDisplayCss}};">
        <span class="summary" style="line-height: 18px;">{{:summary}}</span>
        {{if webLinks}}
            <div class="generalInfo">
                <span class="webLinksLabel summaryHeader">Web Links:</span>
                <span>
                    <ul>
                        {{for webLinks}}
                            <li>
                                <a class="webLink grayLink" target="_blank" title="{{:uri}}" href="{{:uri}}">{{:title}}</a>
                            </li>
                        {{/for}}
                    </ul>
                </span>
            </div>
        {{/if}}
        {{if shortSummary}}
            <div onclick="$('.{{:toggleId}}LongVersion').hide();$('.{{:toggleId}}ShortVersion').show();" class="descriptionToggle">less...</div>
        {{/if}}
    </div>
</script>

<script id="speciesJsonLoadingTemplate" type="text/x-jsrender">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="generalModalLabel">{{:title}}</h4>
    </div>
    <div id="speciesJsonBody" class="modal-body">
        Loading...
    </div>
</script>

<script id="speciesJsonResultsTemplate" type="text/x-jsrender">
    <a class="coordinates" target="_blank" href="{{:url}}" style="margin:0;">[Full Species JSON]</a>
    <div style="clear:both;"></div>
    {{include tmpl="#ecosResultsTemplate" /}}
    {{include tmpl="#itisResultsTemplate" /}}
    {{include tmpl="#nsResultsStuff" /}}
    {{include tmpl="#sbResultsTemplate" /}}
    {{include tmpl="#wrmsResultsTemplate" /}}
</script>

<script id="ecosResultsTemplate" type="text/x-jsrender">
    {{if ecosStuff.results && !ecosStuff.error}}
        <div class="dialogHeader ">ECOS:</div>
        <div class="dialogData">
                Species Detail:
        {{props ecosStuff.results.SPECIES_DETAIL}}
        <br>
            <span style="margin-left: 1em;">{{:key}}: {{:prop}}</span>
            {{/props}}
        </div>
    {{/if}}
</script>

<script id="itisResultsTemplate" type="text/x-jsrender">
    {{if itisStuff.hierarchyList}}
        <div class="dialogHeader">ITIS:</div>
        <div class="dialogData">
            Taxonomic Hierarchy:
            {{for itisStuff.hierarchyList}}
                <br>
                <span style="margin-left: {{:(#index + 1) * 10}}px;">{{:rankName onError=''}}: {{:taxonName onError=''}}</span>
            {{/for}}
        </div>
    {{/if}}
</script>

<script id="nsResultsStuff" type="text/x-jsrender">
    {{if nsStuff && !nsStuff.error}}
        <div class="dialogHeader">NatureServe:</div>
        <div class="dialogData">
            <span>Species Code: {{:nsStuff.code}}</span>
            <br>
            <span>Global Rank: {{:nsStuff.rank}}</span>
        </div>
    {{/if}}
</script>

<script id="sbResultsTemplate" type="text/x-jsrender">
    {{if sbStuff && !sbStuff.error}}
        <div class="dialogHeader">Sciencebase:</div>
        <div class="dialogData">
            Item ID: {{:sbStuff.id}}
            <br>
            Last Updated: {{:sbStuff.provenance.lastUpdated}}
            <br>
            Web Links:
            <br>
            {{for sbStuff.webLinks}}
                <a style="margin-left: 1em;" href="{{:uri}}" target="_blank">{{:title}}</a><br>
            {{/for}}
        </div>
    {{/if}}
</script>

<script id="wrmsResultsTemplate" type="text/x-jsrender">
    {{if wrmsStuff && !wrmsStuff.error}}
        <div class="dialogHeader">WoRMS:</div>
        <div class="dialogData">
            Aphia ID: {{:wrmsStuff.AphiaID}}
            <br>
            Status: {{:wrmsStuff.status}}
            <br>
            Rank: {{:wrmsStuff.rank}}
            <br>
            Last Updated: {{:wrmsStuff.modified}}
        </div>
    {{/if}}
</script>

<script id="errorResultsTemplate" type="text/x-jsrender">
    <div class="modal-footer" style="text-align:left;">
        The following sources did not return a match for this species:
        {{for errorModels}}
            <div>
                <span style="font-weight:bold;">{{:service}}</span>
            </div>
        {{/for}}
    </div>
</script>

<script id="noDataTemplate" type="text/x-jsrender">
    <div class="contextHeader" style="padding-top:10px;">
        {{:message}}
        {{if bapHtml}}
            <div style="margin:30px 0 5px;">Reports contain these analyses:</div>
            {{:bapHtml}}
        {{/if}}
    </div>
</script>

<script id="emptySynthesisCompositionTemplate" type="text/x-jsrender">
    <div class="contextHeader" style="padding-top:10px;">
        {{if message}}
            {{:message}}
        {{else}}
            Please click somewhere to populate this report.
        {{/if}}
        <div class="bapList" style="padding-top: 30px;"></div>
    </div>
</script>

<script id="emptySynthCompBapListTemplate" type="text/x-jsrender">
    <div style="margin-bottom:20px;">Available Analysis Packages:</div>
    {{:html}}
</script>

<script id="bapListTemplate" type="text/x-jsrender">
    {{for baps}}
        <div style="padding:10px 0 0 10px;">{{:title}}</div>
    {{/for}}
</script>

<script id="synthesisCompositionDetailsTemplate" type="text/x-jsrender">
<div class="unit_info_header">
{{if title}}
 <h1 class="panelTitle" style="color:lightblue;">{{:title}}</h1>
{{/if}}
{{if type}}
    <div style="text-align:center;font-size:16px;">{{:type}}</div>
{{/if}}
{{if acres}}
    <div id="synthCompAcres" class="generalInfo">
        <span class="summaryHeader">Area: </span>{{:acres}} acres
    </div>
{{/if}}
{{if hasSummaryData}}
    <div>
        <span class="summaryLabel summaryHeader">Summary: </span>
        {{include summaryData tmpl="#summaryTemplate"/}}
    </div>
{{/if}}
</div>
</script>

<script id="headerBapSpinner" type="text/x-jsrender">
<div class="unit_info_header">
 <div class="spinnerContainer" style="margin-bottom: 20px;"><i class="fa fa-spinner fa-pulse"></i></div>
</div>
</script>

<script id="synthesisCompositionDetailsError" type="text/x-jsrender">
<div class="unit_info_header">
 <div class="generalInfo">
        <span class="contextHeader">{{:error}}</span>
    </div>
</div>
</script>

<script id="synthesisCompositionHeaderTemplate" type="text/x-jsrender">
    {{if reportJsonUrl}}
        <div class="buttonBar" style="margin-bottom:10px;">
            <button id="copyToClipboard" class="btn-xs" data-toggle="tooltip" title="Share this map by copying the URL to your clipboard.">
                <span class="glyphicon glyphicon-copy bootstrapGlyph" aria-hidden="true"></span>
                Share Map
            </button>
            <button id="buildReportPdf" class="btn-xs" data-toggle="tooltip" title="Only expanded sections will appear in the PDF and all user selections/filters will be reflected.">
                <span class="glyphicon glyphicon-save bootstrapGlyph" aria-hidden="true"></span>
                Download Report as PDF
            </button>
            <a class="grayLink" target="_blank" href="{{:reportJsonUrl}}">
                <button class="btn-xs" data-toggle="tooltip" title="View this report as JSON.">
                    <span class="glyphicon glyphicon-th-list bootstrapGlyph" aria-hidden="true"></span>
                    View JSON Report
                </button>
            </a>
        </div>
        <div style="clear:both"></div>
    {{/if}}
</script>

<script id="buttonBar" type="text/x-jsrender">
        <div class="buttonBar" style="margin-bottom:10px;">
            <button id="copyToClipboard" class="btn-xs" data-toggle="tooltip" title="Share this map by copying the URL to your clipboard.">
                <span class="glyphicon glyphicon-copy bootstrapGlyph" aria-hidden="true"></span>
                Share Map
            </button>
            <button id="buildReportPdf" class="btn-xs" data-toggle="tooltip" title="Only expanded sections will appear in the PDF and all user selections/filters will be reflected.">
                <span class="glyphicon glyphicon-save bootstrapGlyph" aria-hidden="true"></span>
                Download Report as PDF
            </button>
            {{if viewJson}}
            <button onclick='actionHandlerHelper.viewSynthCompJson()' class="btn-xs" data-toggle="tooltip" title="View this report as JSON.">
                <span class="glyphicon glyphicon-th-list bootstrapGlyph" aria-hidden="true"></span>
                View JSON Report
            </button>
            {{/if}}
        </div>
        <div style="clear:both"></div>
</script>

<script id="bapSpinner" type="text/x-jsrender">
<div class="spinnerContainer"><i class="fa fa-spinner fa-pulse"></i></div>
</script>

<script id="emptyBapTemplate" type="text/x-jsrender">
<div id="{{:id}}BapCase">
<div class="spinnerContainer"><i class="fa fa-spinner fa-pulse"></i></div>
</div>
</script>

<script id="bapSectionTemplate" type="text/x-jsrender">
<div id="{{:id}}BapCase">
<div class="layerExpander contextHeader" data-section="{{:id}}BAP">
<div style='width: calc(100% - 45px);'>
{{if !leaveOutJson}}
<div style='width: 100%;'>
<button onclick="window.event.stopPropagation(); actionHandlerHelper.viewBapJson('{{:id}}')" style='font-size: 10px; position: relative; top: 25px; left: 100%;'
class="btn-xs" data-toggle="tooltip" data-placement="bottom" title="View this Analysis Package as JSON.">
                <span class="glyphicon glyphicon-th-list bootstrapGlyph" aria-hidden="true"></span>
            </button>
</div>
{{/if}}
{{if simplified}}
<div style='width: 100%;'>
            <button onclick="window.event.stopPropagation(); actionHandlerHelper.showSimplifiedJson('{{:id}}')" style='font-size: 10px; width: 27px; position: relative; top: 25px; left: 100%;'
class="btn-xs" data-toggle="tooltip" data-placement="bottom" title="View the simplified polygon used for analysis.">
                <span class="glyphicon glyphicon glyphicon-unchecked bootstrapGlyph" aria-hidden="true"></span>
            </button>
</div>
{{/if}}
<span id="{{:id}}BAPControl">{{if openByDefault}}&#9660;{{else}}&#9658;{{/if}}</span>
        <span class="bapTitle">{{:title}}</span>
        {{if hasInfoDiv}}
        &nbsp;
            <div id="{{:id}}" class="moreInfo" style="display: inline-block;white-space:nowrap;">
                <i class="fa fa-circle fa-first" aria-hidden="true" style="margin-right:-16px;"></i>
                <i class="fa fa-info-circle fa-second" aria-hidden="true"></i>
            </div>
        {{/if}}
</div>
</div>
    <div id="{{:id}}BAP" class="dropDownContainer" style="{{if !openByDefault}}display:none;{{/if}}">
        {{:sectionHtml}}
    </div>
</div>
</script>

<script id="identifyUnitTemplate" type="text/x-jsrender">
    <div class="layerExpander contextHeader" data-section="identify{{:id}}"
    {{if isOn}}style="color:orange; font-weight: bold; font-size: 14px; padding: 7px 4px 7px 4px; min-height: 30px; {{if !isLast}}border-top: 1px solid rgba(245,245,245,.2);{{/if}}"
    {{else}}style="color:#f3f3f3; font-weight: normal; font-size: 14px; padding: 7px 4px 7px 4px; min-height: 30px; {{if !isLast}}border-top: 1px solid rgba(245,245,245,.2);{{/if}}"{{/if}}>
        <span id="identify{{:id}}Control">&#9658;</span>
        {{:type}}: {{:code}} {{:title}}
    </div>
    <div id="identify{{:id}}" class="dropDownContainer" style="display:none;">
        {{if description}}
            {{:description}}
        {{else}}
            No description available.
        {{/if}}
    </div>
    {{if additionalHtml}}
        <div>
            {{: additionalHtml}}
        </div>
    {{/if}}
</script>

<script id="boxAndWhiskerTemplate" type="text/x-jsrender">
    <div>
        <div style="text-align:center;margin-bottom:5px;">Graph input:</div>
        <div id="rangeSlider" style="margin-bottom:5px;"></div>
        <div class="sliderLabelLeft">{{: startDate}}</div>
        <div id="bapRangeSlider" class="sliderLabelCenter"> Current selection: {{: min}}-{{: max}}</div>
        <div class="sliderLabelRight">{{: endDate}}</div>
    </div>
    <div style="clear:both;"></div>
    <div style="text-align:center;width:100%;">
        <button id="getBWData" class="btn-xs">Submit</button>
    </div>
    <i id="bapSpinner" class="fa fa-spinner fa-pulse spinnerContainer" style="display:none;"></i>
    <div id="boxAndWhiskerError"></div>
    <div id="boxAndWhisker" class="myNpnInfo" style="width:100%;height:500px;"></div>
</script>

<script id="unknownBapTemplate" type="text/x-jsrender">
    <strong>This is not a recognized Analysis Package.</strong>
</script>

<script id="synthCompBottomBarTemp" type="text/x-jsrender">
    <button id="rightPanelReset" class="btn-xs">Clear this selection</button>
    {{include #data tmpl="#coordinatesTemplate"/}}
</script>

<script id="coordinatesTemplate" type="text/x-jsrender">
    <div class="coordinates">Coordinates clicked: {{:lat}}, {{:lng}}</div>
</script>

<script id="hierarchyTableTemplate" type="text/x-jsrender">
    <div style='font-size: 14px; color: white;'>{{:description}}</div>
    <div class="contextSubHeader subHeaderTitle" style="color: #f3f3f3; font-weight: normal;">{{:title}}</div>
    <div class='hierarchyTable'>
        <div style='height: 1em;'>
            <span style='float: left; font-size: 14px; color: lightblue; font-weight: bold; padding: 0 4px 0 4px;'>{{:textHeader}}</span>
            <span style='float: right; font-size: 14px; color: lightblue; font-weight: bold; padding: 0 4px 0 4px;'>{{:areaHeader}}</span>
        </div>
        {{for rows}}
            <div class='hierarchyRow'>
            <span class="otherExpander">
            <span style='float: right; margin-left: .5em; margin-right: .1em; font-size: 14px; vertical-align: middle'>{{:area}}</span>
            {{:text}}
            </span>
            </div>
        {{/for}}
    </div>
</script>