body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body, #map, .container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    padding: 0;
    background-color:rgba(30,30,35,.5);
}

th {
    text-align: center;
}

td {
    padding: .4em;
}

a {
    overflow-wrap: break-word;
}

strong {
    color: orange;
}

.mapHalfScreen {
    cursor: default;
    padding: 0;
    margin: 0;
    left: 500px;
}

.hiddenTd {
    display: none;
}

.shownTd {
    display: block;
}

#beta-banner {
    position: absolute;
    z-index: 9999;
    color: red;
    top: 8px;
    left: -25px;
    font-weight: bold;
    font-size: 16px;
    background-color: yellow;
    padding: 0 55px 0 30px;
    text-align: center;
    min-width: 170px;
    box-shadow: 0 2px 4px black;
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    filter: alpha(opacity=80);
    -moz-opacity: .80;
    opacity: .00;
    cursor: help;
}

#beta-banner:hover {
    opacity: 1;
}

.mySpinner {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 9999999;
    overflow: hidden;
    background-color: rgba(255,255,255,.5);
    border-radius: 5em;
}

.coordinates {
    float: right;
    font-size: 12px;
    color: orange;
    margin: 3px 15px 0;
}

.i,
.menu,
.unit_info {
    position: absolute
}

.unit_info button, .compareBapModal button {
    background-image:-webkit-linear-gradient(rgba(10, 10, 15, .6), rgba(10, 10, 15, .7), rgba(10, 10, 15, .8));
    background-image:-moz-linear-gradient(rgba(10, 10, 15, .6), rgba(10, 10, 15, .7), rgba(10, 10, 15, .8));
    background-image:-ms-linear-gradient(rgba(10, 10, 15, .6), rgba(10, 10, 15, .7), rgba(10, 10, 15, .8));
    background-image:-o-linear-gradient(rgba(10, 10, 15, .6), rgba(10, 10, 15, .7), rgba(10, 10, 15, .8));
    background-image:linear-gradient(rgba(10, 10, 15, .6), rgba(10, 10, 15, .7), rgba(10, 10, 15, .8));
    border: 1px solid #000;
    box-shadow: 1px 1px rgba(10, 10, 15, .6);
    margin: 2px;
}
.unit_info button:hover, .compareBapModal button:hover, {
    background-image:-webkit-linear-gradient(rgba(10, 10, 15, .7), rgb(10, 10, 15));
    background-image:-moz-linear-gradient(rgba(10, 10, 15, .7), rgb(10, 10, 15));
    background-image:-ms-linear-gradient(rgba(10, 10, 15, .7), rgb(10, 10, 15));
    background-image:-o-linear-gradient(rgba(10, 10, 15, .7), rgb(10, 10, 15));
    background-image:linear-gradient(rgba(10, 10, 15, .7), rgb(10, 10, 15));
    color: white;
}

.unit_info_poly {
    background-color: rgba(10, 10, 15, .6);
    color: #f3f3f3;
    position: absolute;
    -webkit-transition: background .6s ease, color .6s ease;
    -moz-transition: background .6s ease, color .6s ease;
    -o-transition: background .6s ease, color .6s ease;
    -ms-transition: background .6s ease, color .6s ease;
    transition: background .6s ease, color .6s ease;
}

.unit_info_poly button {
    background-image:-webkit-linear-gradient(rgba(10, 10, 15, .6), rgba(10, 10, 15, .7), rgba(10, 10, 15, .8));
    background-image:-moz-linear-gradient(rgba(10, 10, 15, .6), rgba(10, 10, 15, .7), rgba(10, 10, 15, .8));
    background-image:-ms-linear-gradient(rgba(10, 10, 15, .6), rgba(10, 10, 15, .7), rgba(10, 10, 15, .8));
    background-image:-o-linear-gradient(rgba(10, 10, 15, .6), rgba(10, 10, 15, .7), rgba(10, 10, 15, .8));
    background-image:linear-gradient(rgba(10, 10, 15, .6), rgba(10, 10, 15, .7), rgba(10, 10, 15, .8));
    border: 1px solid #000;
    box-shadow: 1px 1px rgba(10, 10, 15, .6);
    margin: 2px;
}
.unit_info_poly button:hover {
    background-image:-webkit-linear-gradient(rgba(10, 10, 15, .7), rgb(10, 10, 15));
    background-image:-moz-linear-gradient(rgba(10, 10, 15, .7), rgb(10, 10, 15));
    background-image:-ms-linear-gradient(rgba(10, 10, 15, .7), rgb(10, 10, 15));
    background-image:-o-linear-gradient(rgba(10, 10, 15, .7), rgb(10, 10, 15));
    background-image:linear-gradient(rgba(10, 10, 15, .7), rgb(10, 10, 15));
    color: white;
}

button.btn {
    padding: 3px 6px;
}

select option {
    background-color:black;
}

#ecosControl:hover, #speciesControl:hover {
    color: white;
}

.even {
    background-color: rgba(0,0,0,0);
}

.odd {
    background-color: rgba(30,30,50,.4);
}

.speciesInfo {
    height: 160px;
    display: none;
    background-color: rgba(0,0,0, .6);
}

.speciesInfo td {
    line-height: 20px;
}

.rowBorder {
    border: 1px solid white;
    border-bottom: none;
}

.infoBorder {
    border: 1px solid white;
    border-top: none;
}

.ecosOverflow {
    display: none;
}

.speciesOverflow {
    display: none;
}

.layerExpander {
    padding: 10px;
    cursor: pointer;
}
.hierarchyExpanders{
    padding: 10px;
    cursor: pointer;
}

.layerExpander:hover {
    text-shadow:
    0 0 0.1em rgba(245,245,245,.2),
    0 0 0.1em rgba(245,245,245,.2),
    0 0 0.1em rgba(245,245,245,.2),
    0 0 0.1em rgba(245,245,245,.2)
}
.hierarchyExpanders:hover{
    text-shadow:
    0 0 0.1em rgba(245,245,245,.2),
    0 0 0.1em rgba(245,245,245,.2),
    0 0 0.1em rgba(245,245,245,.2),
    0 0 0.1em rgba(245,245,245,.2)
}

.dropDownContainer {
    padding: 5px 0;
}

.chartContainer {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    background-color: rgba(0,0,0,.8);
    z-index: 10000;
    color: #f3f3f3;
}

.closeChart {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    font-weight: bold;
    z-index: 10001;
    font-size: 25px;
    float: right;
}

.infoDiv {
    padding: 1em;
    position: absolute;
    right: -10000px;
    border: 1px solid black;
    border-radius: 1em;
    z-index: 999999999;
    font-size: 14px;
    color: black;
    background: white;
    width: 80%;
    max-width: 500px;
}

.tableRow {
    border-top: 1px solid #737272;
    border-bottom: 1px solid #737272;
}

.spRow {
    /* cursor: pointer; */
}
.species-layer-raido{
    cursor: pointer;
}

.dialogHeader {
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-top: 1em;
}

.dialogData {
    margin: 2px 5px;
}

.modal-content .contextHeader {
    color: black;
    padding: 10px 10px;
    border-radius: 6px;
    line-height: 33px;
}
.grayHover:hover {
    background-color: rgba(0,0,0,.1);
}

.contextHeader {
    color: lightblue;
    font-weight: bold;
    font-size: 18px;
    /*padding: 10px 0;*/
    padding: 10px;
    line-height: 20px;
}

.layerControlRight {
    float: left;
    padding: 8px 8px 0 0;
    cursor: pointer;
}
.baseMap{
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

.summaryHeader {
    color: lightblue;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

.panelTitle {
    font-weight: bold;
    font-size: 1.3vw;
    text-align: center;
    margin: 0;
    color: white;
    margin-right: 10px;
}
.modifiedPoly{
    font-size: 12px;
    vertical-align: middle;
    color: lightblue;
    border-radius: 7px;
    margin-bottom: 5px;
}
.bioScapeTitle{
    white-space: nowrap;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
}
.bioScapeTitleMobile{
    position: relative;
}

.generalInfo {
    margin: 10px 0;
    margin-bottom: 0px;
}

.contextSubHeader {
    text-align: center;
    font-weight: bold;
    padding: .5em;
    color: rgb(204, 204, 204);
}

.subHeaderTitle {
    color: rgb(204, 204, 204);
    line-height: 20px;
    font-size: 17px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.layerSection {
    margin-left: 1em;
    display: none;
}

.layerMoreInfo {
    cursor: pointer;
}

.layerTitle {
    display: inline-block;
    width: 94%;
}

.descriptionToggle {
    color: lightblue;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-align: center;
    line-height: 30px;
}

.menu-vis-id {
    width: 100%;
    background: black !important;
    height: 55px;
}

.info-image {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.moreInfo {
    cursor: pointer;
    color: #f3f3f3;
    margin-left: -2px;
}

.compositionTitle {
    color: lightblue;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.dropDownContainer {
    background-color: rgba(10, 10, 15, .2);
    padding: 3px 10px;
    border-radius: 6px;
    padding-bottom: 10px;
    min-height: 50px;
}

.divider {
    clear: both;
    border-top:1px solid rgba(245, 245, 245, .2);
}

div.table {
    max-height:600px;
    overflow-y:auto;
    margin-bottom:20px;
    border: 1px solid #737272;;
    border-radius: 10px;
}

.tableReset {
    font-size: 14px;
    text-align: center;
    display: none;
    margin-bottom: 5px;
}

.defined:hover {
    color: #707070;
    cursor: pointer;
}

.defined:focus {
    color: #707070;
    outline: none;
}

.bottomBar {
    /* text-align:center;
    bottom: 0;
    overflow: hidden !important;
    width: 100%; */
    right: 60px;
    width: 100px;
    top: 64px;
    background: none;
}

.bootstrapGlyph {
    font-size: 16px;
    color: lightblue;
    vertical-align: text-bottom;
    padding-right: 3px;
}

.modal-content strong {
    color: inherit;
}

.bioScapeModal {
    width:650px !important;
}

.settingsLegendBtn {
    float: left;
    margin-left: 5px;
    height: 34px;
    padding-right: 5px;
}

.attrDiv {
    margin: 5px 0;
}

#header, #unit_info_left {
    width:500px;
}

.metadataTitle {
    display: block;
    padding: 5px 0;
    font-weight: bold;
}

.overMap {
    z-index: 1000;
}

.mapControl, .mapControlGroup {
    border-radius: 5px;
    margin: 10px 0 5px 10px;
    position: relative;
    float: left;
}
.mapControl {
    padding: 5px;
}
.mapControl i, .mapControlGroup i {
    font-size:18px;
    vertical-align:middle;
}
div.mapControlGroup > a {
    float: left;
    padding: 5px;
    border-left: 1px solid #f3f3f3;
}
div.mapControlGroup > a:first-child {
    border-left: none;
    border-radius: 10px 0 0 10px;
}
div.mapControlGroup > a:last-child {
    border-radius: 0 10px 10px 0;
}

.action {
    padding-bottom: 5px;
}

#identifyDialog tbody:first-child {
    border: none;
}
#identifyDialog .tableRow td {
    /*border: 1px solid #737272;*/
    padding: 1px 3px;
}

#identifyDialog .tableRow td:first-child {
    border-right: 1px solid #737272;
}

#identifyDialog .layerSection {
    margin: 0;
}

.identifyResult {
    padding: 5px;
}

#legendDialog .well,
#mobileBioScapeLegendContainer .well {
    background-color: rgba(0,0,0,0);
}
#legendDialog .title {
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
}
#mobileBioScapeLegendContainer {
    display: none;
}

.buttonBar {
    text-align: center;
}
.buttonBar div {
    display: inline;
}
.buttonBar input {
    color: #000000;
    display: block;
    width: 100%;
}

div.inline {
    display: inline;
}

#mapBottomLeft {
    position:absolute;
    bottom:0;
    left:0;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    cursor: default;
    width:  -webkit-fill-available;
    width: -moz-available; 
    margin-right: 50px;
}

#GlobalTimeControl{
    width: -webkit-fill-available;
    width: -moz-available; 
    overflow-y: visible;
    height: 28px;
    margin-right: 20px;
    opacity: 0.6;
}

#GlobalTimeSliderRange {
    bottom: 15px;
}
#mapBottomLeft.open {
    left: 500px;
    width: calc(100% - 560px);
}

#mapScale {
    line-height: 7px;
    border: 2px solid #f3f3f3;
    border-top: none;
    padding: 1px;
    padding-top: 2px;
}
.mapScale{
    font-size: 12px;
    padding: 3px;
    padding-right: 4px;
    padding-left: 4px;
}

.legendTitle {
    font-weight: bold;
}

.legendImg {
    max-width: 100%;
}

/*Form Stuff*/
label {
    cursor: pointer;
    position: relative;
}
label input {
    opacity: 0;
    z-index: -1;
}
label i {
    position: absolute;
    top: 5px;
    left: -18px;
}
/*These were copied from font-awesome to make styling easier*/
.fa-custom-radio-class:before {
    /*This is fa-circle-thin*/
    content: "\f1db";
}
label input:checked ~ .fa-custom-radio-class:before {
    /*This is fa-check-circle-o */
    content: "\f05d";
}
.fa-custom-checkbox-class:before {
    /*This is fa-square-o*/
    content: "\f096";
}
label input:checked ~ .fa-custom-checkbox-class:before {
    /*This is fa-check-square-o*/
    content: "\f046";
}

label input:hover ~ .fa-custom-radio-class:before,
label input:hover ~ .fa-custom-checkbox-class:before {
    color: lightblue;
}

.dropDownContainer form {
    position: relative;
    margin: auto;
    color: rgb(204, 204, 204);
    max-width: 32%;
    text-align: left;
}

.afterSubmitAttribution {
    display: none;
    padding: 15px;
}

.afterSubmitAttribution a {
    color: white;
    font-style: italic;
}

/*End Form Stuff*/

/*Custom slider styles*/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: lightblue;
    border-radius: 1px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 18px;
    width: 8px;
    border-radius: 2px;
    background: #f3f3f3;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #77ADBF;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: lightblue;
    border-radius: 1px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 18px;
    width: 8px;
    border-radius: 2px;
    background: #f3f3f3;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 8px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: lightblue;
    border: 0.2px solid #010101;
    border-radius: 1px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: lightblue;
    border: 0.2px solid #010101;
    border-radius: 1px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 18px;
    width: 8px;
    border-radius: 2px;
    background: #f3f3f3;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #77ADBF;
}
input[type=range]:focus::-ms-fill-upper {
    background: #77ADBF;
}
/*End of the custom slider*/

.sliderContainer label {
    font-weight: normal;
    margin-bottom: 0;
}

.sliderContainer {
    padding-right: 10px;
}

#mobileBioScapeLegend {
    display: none;
}

.hideLegendItem {
    display: none;
}

.showLegendItem {
    display: block;
}

.narrowLegend {
    display: none;
}

button.narrowLegend {
    border: 1px solid white;
    background: linear-gradient(#555, #333);
}

button.narrowLegend:hover {
    color: white;
    background: linear-gradient(#444, #222);
}

.legendMessage {
    color: white;
    font-size: 12px;
}

.layerDownload {
    text-align: left;
    white-space: normal;
    width: 100%;
    margin: 5px 0;
}

.dontShow{
    display: none;
}

.divHover {
    cursor: pointer;
    padding: 5px;
    color: white;
}

.divHover:hover {
    background-color: #555;
    text-decoration: none;
}

a.divHover {
    color: white;
}
a.divHover:hover, a.divHover:visited, a.divHover:active {
    color: white;
}

.dropdown-menu {
    border: 1px solid #bbb;
    right: -15px;
    left: unset;
}

.matrix-html-tooltip, .matrix-top-tooltip {
    cursor: help;
    font-size: 12px;
}

.tooltip-inner {
    border: None;
}

.matrix-box {
    height: 140px;
    text-align: center;
    display: table;
    border: 1px solid black;
}
.matrix-text {
    display: table-cell;
    vertical-align: middle;
}
.matrix-axis-title {
    width: 450px;
    font-weight: bold;
    text-align: center;
}
.matrix-dark {
    color:black;
}

.big-matrix {
    margin: 50px auto 0;
    width: 650px;
}
.big-matrix .matrix-axis-title {
    width: 650px;
    font-size: 16px;
}
.big-matrix .matrix-box {
    height: 200px;
    position: relative;
}
.big-matrix .matrix-text {
    display: block;
    line-height: normal;
}

.expand-chart {
    font-size: 11px;
}

.grayLink a, a.grayLink, .grayLink a:visited, a.grayLink:visited  {
    color: #f3f3f3;
    cursor: pointer;
    text-decoration: none;
}
.grayLink a:hover, a.grayLink:hover, .btn:focus {
    color: #cccccc;
    background-color: rgb(10, 10, 15);
}

.summary > a {
    color: #8CB2D9;
}

.i {
    top: 16px;
    font-weight: 700;
    left: 35px;
}

.attr,
.menu {
    padding-bottom: 7px
}

.container {
    position: fixed;
    padding:0;
}

.menu {
    bottom: -35px;
    padding-left: 9px
}

.attr {
    right: -35px;
    padding-right: 9px
}

.menu-button {
    display: block;
    height: 70px;
    width: 70px;
    padding: 4px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: rgba(255, 255, 255, .7);
    border: 1px solid #777;
    color: #777;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.modal-body .arrow {
    position:fixed;
}
.right_arrow {
    width: 220px;
    height: 220px;
    transform: translate(310px,-40px) scale(.5,.5);
    background-image: url('arrow_crv_right.png');
}
.left_arrow {
    width: 250px;
    height: 173px;
    transform: translate(-195px, -40px) scale(.5,.5);
    background-image: url('arrow_crv_left.png');
}
.user_help_number {
    font-weight: bold;
    font-size: 18px;
    border: 1px solid;
    border-radius: 13px;
    padding: 2px 7px;
}

.helpBox {
    position: absolute;
    height: 78px;
    width: 78px;
    color: yellow;
    display: table;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border: 4px solid yellow;
    border-radius: 39px;
}
.leftPaneHelpBox {
    top: 50%;
    left: 50px;
}
.mapHelpBox {
    top: 60%;
    left: 43%;
}
@media screen and (max-height: 810px) {
    .mapHelpBox {
        top:75%;
    }
}
.rightPaneHelpBox {
    right: 50px;
    top: 50%;
}
.helpBox div {
    vertical-align: middle;
    display: table-cell;
}

.sliderLabelLeft {
    float:left;
    margin-right:80px;
}
.sliderLabelCenter {
    margin-top: 5px;
    font-size: 15px;
}
.sliderLabelRight {
    float:right;
    margin-left:10px;
}

.spinnerContainer {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    font-size: 28px;
}

#userHelp div {
    margin-top: 10px;
}
#userHelp div:first-child {
    margin: 0;
}

.fa-first, .fa-second {
    font-size: 13px;
}
.fa-first {
    margin-right: -15px;
    color: white;
}
.fa-second {
    color: #6B99C5;
}

.hierarchyTable {
    margin: 0 auto;
    color: rgb(243, 243, 243);
    background: rgba(30, 30, 35, 0.498039);
    border: 1px solid rgba(245, 245, 245, 0.2);
    border-radius: 1em;
    padding: 7px 0;
    font-size: 18px;
}

.hierarchyRow {
    /*height: 1em;*/
    border-top: 1px solid rgba(245, 245, 245, 0.2);
    font-weight: normal;
    font-size: 14px;
    padding: 7px 4px;
    vertical-align: middle;
    /*min-height: 30px;*/
}

#tempPopupMessage {
    color: white;
    background: black;
    border: 1px solid white;
    width: 200px;
    padding: 10px;
    /*height: 100px;*/
    position: fixed;
    /*top: calc(50% - 210px);*/
    top: 35%;
    left: calc(50% - 100px);
    display: none;
}

#popup-footer-bar {
    padding: 4px;
    background-color: #666666;
    margin: 20px 0 0 0;
}
#popup-footer-bar > ul {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
}
#popup-footer-bar > ul > li {
    display: inline-block;
    padding-left: 0px;
    padding-right: 5px;
}
#popup-footer-bar a {
    margin-right: 40px;
    color: #ffffff;
}

#footer-text {
    padding-left: 19px;
}

.contacts-web-links {
    margin-left: 20px;
}

.myNpnInfo {
    margin-top: 15px;
}

.ridgeLinePlot {
    width: 100%;
    position: relative;
}
.ridgeLinePlot svg {
    overflow: visible;
    width: 100%;
}

.ridgeLinePlot .domain {
    fill: none !important;
}


.ridgeLinePlot path {
    /* stroke: rgb(10,10,15,.2); */
    /* stroke-width: 1; */
    /* fill: url(#area-gradient) !important; */
}
.ridgeLinePlot text {
    color:rgb(204, 204, 204);
    fill:rgb(204, 204, 204) !important;

}

/* .ridgeLinePlot .domain,  */
.ridgeLinePlot .domain, .ridgeLinePlot .tick line{
    stroke: rgb(204, 204, 204);
}

.ridgeLinePlotSubTitle{
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: -5px;
    color: rgb(204, 204, 204) !important;
    fill: rgb(204, 204, 204) !important;
}

.ridgeLinePlotTitle{
    font-weight: normal;
    font-size: 18px;
    margin-top: 30px;
    color: rgb(204, 204, 204) !important;
    fill: rgb(204, 204, 204) !important;
}

.ridgeLinePlotNumberPicker{
    width: 85%;
    fill: rgb(204, 204, 204);
    color: rgb(204, 204, 204);
    font-family: Verdana;
    margin-bottom: 50px;
    margin: auto;
    text-align: left;
    position: relative;


}

.axis-label text{
    fill: rgb(204, 204, 204);
    font-family: Verdana;
    font-size: 11px;
    opacity: 1;
}

.bar rect {
    shape-rendering: crispEdges;
}
  
.bar text {
    fill: #999999;
}
  
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.histogramPlot {
    fill: rgb(56, 155, 198);
    /* fill: url(#area-gradient); */
    width: 100%;
}

.histogramPlot svg{
    /* overflow: visible;
    margin-bottom: 20px; */
    /* height: 475px; */
}

.histogramPlot text {
    color:rgb(204, 204, 204);
    fill:rgb(204, 204, 204) !important;

}

.histogramPlot .axis path, .histogramPlot .axis line{
    stroke: rgb(204, 204, 204);
}

.histogramPlot rect {
    /* fill: rgb(56, 155, 198); */
    stroke: rgb(10,10,15,.2);
    stroke-width: 1;
}

.hidden {
    display: none;
}


.timeSliderToolTip { 
    position: absolute;
    background-image: linear-gradient(#444444, #999999);
    width: 60px; 
    height: 30px; 
    text-align: center; 
    color: white; 
    border-radius: 10px; 
    display: inline-block; 
    font: bold 15px/30px Georgia;
    bottom: 140%;
    left: 0;
    margin-left: -1%;
    padding-top: 0px;
  }
  output:after { 
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #999999;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
  }

.GlobalTimeSlider{
    width: calc(100% - 75px);
    margin: auto !important;
    vertical-align:middle;
  }

.GlobalTimeSliderRange {
    background-color: rgba(173, 216, 230, 0.8);
    width: calc(100% - 75px);
    margin: auto !important;
    vertical-align: middle;
}

.GlobalTimeSlider span{
    background-color: #505050; 
    /* !important; */
}

.GlobalTimeSlider .gts-tooltip, .GlobalTimeSliderRange .gts-tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    padding: 5px;
    font-size: 11px;
    visibility: visible;
    margin-left: -2em;
    opacity: unset;
    bottom: -18px;
    left: 22px;
    transform: rotate(135deg);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.GlobalTimeSlider .gts-tooltip .tooltip-arrow, .GlobalTimeSliderRange .gts-tooltip .tooltip-arrow {
    bottom: -3px;
    left: 50%;
    margin-left: -5px;
    /* border-top: 6px solid rgba(10, 10, 15, .6); */
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
}

.GlobalTimeSlider .tooltip-inner, .GlobalTimeSliderRange .tooltip-inner {
    max-width: 200px;
    padding: 5px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: rgba(10, 10, 15, .6);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-family: inherit;
    font-weight: bolder;
}
.GlobalTimeSlider .tooltip-inner {
    width: 122px;
}

.GlobalTimeSlider .gts-tooltip{
    bottom: -17px;
    left: -16px;
}

.ui-slider {
    background: black repeat-x bottom left;
    border-bottom: 1px solid #EBEAE5;
    height: 15px;
    margin: 0;
    padding: 0px;
}

.ui-slider-handle {
    border-bottom: 1px solid #a8a79f;
    border-right: 1px solid #a8a79f;
    height: 20px;
    width: 10px;
    margin: 0;
    padding: 0px;
    display: inline-block;
}

.ui-slider-range {
    height: 10px;
    border-bottom: 3px solid red;
    position: relative;
}

.out-of-range {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    opacity: 0.5;
}

.NFHPChartRow {
    width: 16%;
    margin-left: .5em;
    margin-right: .5em;
    font-size: 12px;
    vertical-align: middle;
    border: 1px solid #929293;
    text-align: center;
    color: rgb(243, 243, 243, .5);
}

.NFHPChartRowFirst{
    text-align: left;
    margin-left: .5em;
    margin-right: .5em;
    font-size: 12px;
    vertical-align: middle;
    border: 1px solid #929293;
    
}

.NFHPChartRowHeader {
    text-align: left;
    margin-left: .5em;
    margin-right: .5em;
    font-size: 14px;
    vertical-align: middle;
    border: 1px solid #929293;
    border-top: 2px solid #929293;
    border-bottom: 1px solid #929293;
    color: lightblue;
}

.searchRessultsBox {
    z-index: 1000;
    position: absolute;
    width: 375px;
    margin-left: 115px;
    height: 63vh;
    max-height: 585px;
    overflow-y: scroll;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
}

#HeaderBap1 {
    padding: 10px;
}

.mapTopCenter {
    top: 0;
    color: white;
    position: absolute;
    width: 100%;
    height: 55px;
    z-index: 6000


}
.mapTopCenter .drop {
    width: 70%;
    margin: auto;
    border-radius: 20px;
    z-index: 2001;
}

.titleDiv{
    font-weight: bold;
    font-size: 1.3vw;
    text-align: center;
    margin: 0;
    color: white;
    height: 55px;
}

.solidOverMapBG {
    background-color: RGB(80,80,80);
    z-index: 1000;
} 

.UIhead {
    position: fixed;
    z-index: 3000;
    width: 500px;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    border-bottom: 2px solid #424243;
    background-color: #505050;
    padding-bottom: 15px;
}

.UIbody {
    margin-top: 10px;
    margin-bottom: 40px;
    height: calc(100% - 150px) !important;
}

.unit_info_search{
    width: 375px;
    margin-left: 115px;
    margin-top: 1px;
}

.mapControlContainer {
    right: 70px;
    top: 60px;
    position: absolute;
}

.mapFullScreen {
    width: 100% !important;
    left: 0 !important;
}

.nfhpBapHeader{
    width: 80%;
    font-size: 15px;
    color: rgb(204, 204, 204);
    font-weight: bold;
    line-height: 20px;
    margin-left: 15%;
    margin-bottom: 25px;
    margin-top: 10px;
}


span.clickSearch-target {
    font-family: FontAwesome;    
}
input[type='checkbox'].clickSearch, input[type='radio'].clickSearch {
    position: relative;
    left: -999em; 
}

input[type='checkbox'].clickSearch + span.clickSearch-target:after,
input[type='radio'].clickSearch + span.clickSearch-target:after {
    content: "\f1db"; 
}
input[type='checkbox'].clickSearch:checked + span.clickSearch-target:after,
input[type='radio'].clickSearch:checked + span.clickSearch-target:after{
    content: "\f05d"; 
}

#bioScapeDetailsLink{
    cursor: pointer;
    white-space: nowrap;
    top: 20px;
    position: absolute;
    margin-left: 5px;
}

#bioScapeDetailsLink .fa-circle {
    position: absolute;
}

#accordion #collapseOne {
    width: 100%;
    max-height: -webkit-fill-available;
    max-height: -moz-available;
    overflow-y: auto;
    position: absolute;
    padding: 0px;
    left: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid #424243;
    background-color: #505050;
    z-index: 999;

}

.searchBoxBorder{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid #424243;
    background-color: #505050;
    width: 500px;
    min-height: 10px;
    margin-top: -20px;
}
.customSliderHandle {
    background-color: transparent !important;
    transform: rotate(225deg);
    font-size: 22px;
    margin-top: -12px;
    color: #505050;
    border: none !important;
    outline-width: 0 !important;
}

.customSliderHandleRange {
    color: white !important;
    background-color: transparent !important;
    transform: rotate(225deg);
    font-size: 22px;
    margin-top: -12px;
    border: none !important;
    outline-width: 0 !important;
}

#GlobalTimeSliderRange span:last-of-type{
    margin-left: -.68em !important;

}
#GlobalTimeSliderRange span:first-of-type{
    margin-left: -.49em !important;
}
.timePlayButton {
    font-size: 23px;
    color: white;
    position: absolute;
    padding-top: 1px;

}

#GlobalTimeSliderInner {
    padding-left: 30px;
    width: -webkit-fill-available;
    width: -moz-available;
    float: right;
    padding-top: 1px;
 

}

.hideLayerSpinner{
    display: none !important;
}

.synthesisCompositionTitle {

    position: relative;
    width: 490px;

}

.synthesisCompositionBodyTitle{
    margin: auto;
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
    line-height: 20px;
    color: white;
    margin-left: 10px;
    margin-top: 15px;
    width: 235px;
    padding-right: 0px;
    display: inline-block;
}

.SimplifiedPolyDiv{
    position: absolute;
    margin-left: -212px;
}

.synthesisCompositionBodyTitleSpace{
    height: 10px;
    margin-top: 90px;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid #424243; */
    background-color: #505050;

}
.mapTopTitle{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: black !important;
}

.titleDropDown{
    width: 75%;
    margin: 10px auto auto;
    background-color: black;
    position: relative;
    top: -11px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: auto;
}

.bapList{
    margin-left: 10px;
}


.opacitySliderGlobal{
    display: inline-block;
    width: 235px;
    margin-top: 20px;
    text-align: center;
    padding: 0px;
}
.jsonDiv{
    display: inline-block;
    float: right;
    padding: 10px;
}
.inputExpander{
    display: flex;
    color: white !important;
    font-size: 16px;
}
.bapInputSection{
    margin-bottom: 25px;
    display: none;
}

.opacitySliderBap{
    display: inline-block;
    text-align: center;
    padding: 10px;
    padding-left: 30px;
    padding-right: 0px;
    margin-right: 10px;
    padding-top: 5px;
}
.exclamation{
    color: yellow;
    opacity: .80;
}

.priorityBap {
    display: inline-block;
    white-space: nowrap;
    float: right;
    width: 15px;
}

.initializeLoader {
    text-align: center;
    font-size: 28px;
    vertical-align: middle;
}

.centerDiv{
    width: 90%;
    margin: auto;
    text-align: center;
}

.compareBapModal-container{
    position: absolute;
    z-index: 9;
    text-align: center;
    height: 600px;
    width: 450px;
    top: 125px;
    display: none;
}


.compareBapModal{
    background-color: #505050;
    overflow-y: hidden;
    height: 100%;
}

.compareBapModal .modal-title{
    color: white;
    font-size: large;
}
.compareBapModal .modal-close{
    color: white;
    opacity: 1;
}
.compareBapModal .modal-body{
    color: white;
    overflow: scroll;
    height: calc(100% - 80px);
    position: relative;
    overflow-x: hidden;
}

.compareBapModal .modal-header{
    height: 70px;
}
.compareBapModal .modal-footer{
    height: 60px;
    border: none;
}
.compareBapModal .modal-footer button{
    color: white;
}

.compareBapModal .close{
    color: white;
    opacity: 0.8;
    font-size: 24px;
    margin-top: 0px !important;
}

.svg-container-smoothPlot {
    display: block;
    position: relative;
    width: 100%;


}
.svg-container-plot {
    display: block;
    position: relative;
    width: 100%;

}
.svg-content-responsive {
    top: 10px;
    left: 0;
    display: flex;
    position: relative;
}

  .bapChart{
    position: relative;
    overflow: visible;
  }

  .comparePlot path{
    stroke: rgb(56, 155, 198);
    stroke-width: 3;
  }
  .comparePlot g g path{
    stroke-width: 1;
  }

  div.chartTooltip {	
    position: absolute;
    background: rgb(255, 255, 255);
    font-size: 11px;
    color: black;
    border-radius: 4px;
    padding: .25em;
    pointer-events: none;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
    z-index: 9999;
    max-width: 175px;
}

div.chartTooltip label {	
    font-weight: 700;
}

div.chartTooltip p{
    margin: 5px;
}

.comparePlotChart{
    position: relative;
}

.ObisPlot{
    position: relative;
    margin-bottom: 25px;
}

.ObisPlot text {
    color: rgb(204, 204, 204);
    fill: rgb(204, 204, 204);
}

.ObisPlot line {
    stroke: rgb(204, 204, 204,.1) !important;
    stroke-dasharray: 5,5;
}

.ObisPlot .domain, .ObisPlot .axis line{
    stroke: rgb(204, 204, 204);
}
.obisToolTip{
    max-width: 185px;
}

.obisPlotTitle{
    margin-top: 50px;
}

.raw-json-body{
    margin-top: 15px;
    overflow-y: scroll;
    max-height: 75vh;
}

.text-chart-left{
    text-align: left;
}
.amcharts-chart-div{
    overflow: visible !important;
}
