@media screen and (max-width:933px) {
    #bioScapeSelector {
        display: none;
    }

    #unit_info_left .unit_info_main {
        height: 100%;
    }


    #mobileBioScapeLegendContainer {
        display: block;
        top: 56px;
        right: 54px;
        position: fixed;
        background-color: black;
    }

    .expand-chart {
        display: none;
    }
}

@media screen and (max-width:975px),
    screen and (max-height:650px){
    .helpBox, .left_arrow, .right_arrow {
        display: none;
    }
}

/* iphone sideways */
@media only screen and (max-height:500px){
    #accordion #collapseOne {
        max-height: 210px;
    }

}

/* iphone sideways */
@media only screen and (max-height:700px)
    and (min-height: 501px) {
    #accordion #collapseOne {
        max-height: 335px;
    }

}

/* ipad sideways */
@media only screen and (max-height:900px)
    and (min-height: 701px) {
    #accordion #collapseOne {
        max-height: 500px;
    }

}
